---
---

@import "{{ site.theme }}";

.wrapper div {
    overflow-x: auto;
    max-width: 100%;
}
div.highlight {
    background-color: transparent;
}
pre.highlight {
    padding-bottom: 0px;
}

@media (prefers-color-scheme: dark) {
    body {
      background-color: rgb(41, 41, 41);
      color: rgb(235, 235, 235);
    }
    a {
        color: rgb(220, 212, 200);
    }
    a:hover, a:focus {
        color: rgb(255, 255, 255)
    }
    th {
        color: rgb(250, 250, 250)
    }
    h1, h2, h3, h4, h5, h6 {
        color: rgb(245, 245, 245)
    }
    .highlight {
        background-color: rgb(91, 81, 67);
    }
    div.highlight {
        margin-bottom: 1rem;
    }
    code {
        color: rgb(246, 246, 246);
    }
    pre {
        padding-bottom: 0rem;
        margin: 0px 0px;
    }
    strong {
        color: rgb(255, 255, 255)
    }
  }
